@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');

body {
  overflow: hidden;
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
}

/* sign in page */

.sign-in-page {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #2CB3C2, #2C539C);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-canvas {
  max-width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-sign-in-canvas {
  background-image: linear-gradient(to bottom right, rgb(196, 222, 243), rgb(99, 154, 190));
  color: black;
  padding: 1.5rem;
}

.right-sign-in-canvas {
  background-color: white;
  color: gray;
  padding: 1.5rem;
}

.logo {
  width: 80%;
}

.sidebar-logo {
  background-color: #c2c2c2;
  padding: 5px;
}

/* Main page */
.main-page {
  height: 100%;
  overflow: hidden;
}

.left-main-page {
  background-image: linear-gradient(to bottom right, rgb(178, 202, 233), rgb(50, 172, 185));
  display: grid;
  grid-template-rows: 0.7fr 7.5fr;
}

.right-main-page {
  height: 100%;
}

.top-bar-main-page {
  color: rgb(151, 151, 151);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  overflow: hidden;
}

.content-main-page {
  height: 100%;
  background-color: rgb(218, 218, 218);
  padding: 2rem 3rem;
  margin-top: 60px;
  overflow: auto;
}

.item {
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;

}