@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');

body {
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* sign in page */

.sign-in-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-image: linear-gradient(to right bottom, #2CB3C2, #2C539C);
}

.sign-in-canvas {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-sign-in-canvas {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-image: linear-gradient(to bottom right, rgb(196, 222, 243), rgb(99, 154, 190));
  color: black;
  padding: 1.5rem;
}

.right-sign-in-canvas {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
  color: gray;
  padding: 1.5rem;
}

.logo {
  width: 80%;
  height: auto;
}

/* Main page */
.main-page {
  /* display: grid; */
  /* grid-template-columns: 1fr 5fr; */
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
}

.left-main-page {
  background-image: linear-gradient(to bottom right, rgb(178, 202, 233), rgb(50, 172, 185));
  display: grid;
  grid-template-rows: 0.7fr 7.5fr;
}

.right-main-page {
  display: grid;
  grid-template-rows: 0.7fr 7.5fr;
}

.top-bar-main-page {
  box-shadow: 5px 5px rgb(112, 112, 112);
  color: rgb(151, 151, 151);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content-main-page {
  height: 100vh;
  background-color: rgb(218, 218, 218);
  overflow-y: auto;
  padding: 5% 10% 5% 10%;
}

.item {
  color: white;
}