@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* sign in page */

.sign-in-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-image: linear-gradient(to right bottom, #2CB3C2, #2C539C);
}

.center-sign-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in-canvas {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-sign-in-canvas {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-image: linear-gradient(to right, bottom, #2CB3C2, #2C539C);
  color: white;
}

.right-sign-in-canvas {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
  color: gray;
}

.logo {
  width: 80%;
  height: auto;
}

.container {
  padding: 10%;
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
}